.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 0.0625rem solid var(--twitter-background);
  padding-bottom: 0.625rem;
}

.post__body {
  flex: 1;
  padding: 0.625rem;
}

.post__body > img {
  border-radius: 1.25rem;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.post__headerDescription {
  margin-bottom: 0.625rem;
  font-size: 1rem;
}

.post__headerText > h3 {
  font-size: 1rem;
  margin-bottom: 0.375rem;
}

.post__badge {
  font-size: 0.875rem !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 0.75rem;
  color: gray;
}

.post__avatar {
  padding: 1.25rem;
}
