.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 0.625rem;
  border-radius: 1.25rem;
  margin-top: 0.625rem;
  margin-left: 1.25rem;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 1rem;
  margin-left: 1.25rem;
  padding: 1.25rem;
  background-color: #f5f8fa;
  border-radius: 1.25rem;
}

.widgets__widgetContainer > h2 {
  font-size: 1.125rem;
  font-weight: 800;
}
