.tweetBox {
  padding-bottom: 0.625rem;
  border-bottom: 0.5rem solid var(--twitter-background);
  padding-right: 0.625rem;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 1.25rem;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 1.25rem;
  font-size: 1.25rem;
  border: none;
}

.tweetBox__imageInput {
  border: none;
  padding: 0.625rem;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 1.875rem !important;
  width: 5rem;
  height: 2.5rem !important;
  margin-top: 1.25rem !important;
  margin-left: auto !important;
}
