.sidebar {
  border-right: 0.06125rem solid var(--twitter-background);
  flex: 0.3;
  /* min-width: 23.125rem; */
  margin-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 1.875rem !important;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 1.875rem !important;
  height: 3.125rem !important;
  margin-top: 1.25rem !important;
}
